%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :nickname
    %em (10 characters maximum)
    %br/
    = f.text_field :nickname, autofocus: true, maxlength: "10"
  .field
    %field
      %input.form__message
      .form__mask
        %label.form__mask__image
          = fa_icon 'picture-o', class: 'icon'
          %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit', value: 'Send'}
    -# %span.file{:title => "ファイルを選択"}
    -#   = f.label :image
    -#   %br/
    -#   = fa_icon "address-book"
    -#   = link_to address-book do
    -#     %input{:name => "datafile", :type => "file"}/
    -#     %input#filesend{:name => "datafile", :type => "hidden"}/
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
