= render "partial/sell_bay_header"
= form_with model: @product class:"sell_new",local: true do |form| #以下入力フォーム
  .sell_title
    商品の情報を入力
  .sell-image
    .img-head
      .img-head_bold
        出品画像
      .img-head_icon
        必須
    .image-text
      最大10枚までアップロードできます
    .sell-upload
      %li ドラッグアンドドロップ
      %li またはクリックしてファイルをアップロード
  .sell-content
    .img-head
      .img-head_bold
        商品名
      .img-head_icon
        必須
    .sell_new
      = form.text_field placeholder: "商品名（必須40文字まで）",class:"sell_name"
      .img-head
        .img-head_bold
          商品
        .img-head_icon
          必須
      = form.text_area placeholder: "商品の説明（必須1,000文字まで）",class:"sell_txet"
  .sell-content
    .sell_box
      .sell-sub_head
        商品の詳細
      .sell-form_box
        .img-head
          .img-head_bold
            カテゴリー
          .img-head_icon
            必須
        %select{name: "cate"}
          %option{value: "1"} レディース
          %option{value: "2"} メンズ
        .img-head
          .img-head_bold
            カテゴリー
          .img-head_icon
            必須
        %select{name: "cate"}
          %option{value: "1"} 新品
          %option{value: "2"} 中古
  .sell-content
    .sell_box
      .sell-sub_head
        配送について
      .sell-form_box
        .img-head
          .img-head_bold
            配送料の負担
          .img-head_icon
            必須
        %select{name: "cate"}
          %option{value: "1"} 送料込み
          %option{value: "2"} 着払い
        .img-head
          .img-head_bold
            配送元の地域
          .img-head_icon
            必須
        %select{name: "cate"}
          %option{value: "1"} 広島
          %option{value: "2"} 大阪
        .img-head
          .img-head_bold
            配送までの日数
          .img-head_icon
            必須
        %select{name: "cate"}
          %option{value: "1"} １〜４
          %option{value: "2"} ４〜１０
  .sell-content
    .sell_box
      .sell-sub_head
        販売価格(300〜9,999,999)
      .sell-form_box
        .img-head
          .img-head_bold
            配送料の負担
          .img-head_icon
            必須
          .price_new
            .sell-new_icon
              ¥
            = form.text_field placeholder: "商品名（必須40文字まで）",class:"sell_price"
        .sell-margin
          .sell-margin_left
            販売手数料 (10%)
          .sell-margin_right
            ￥32
        .sell-margin_bold
          .sell-margin_left
            販売利益
          .sell-margin_right
            ￥320
  .sell-content
    .sell-btn_text
      %li 禁止されている出品、行為を必ずご確認ください。
      %li またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
      %li また、出品をもちまして加盟店規約に同意したことになります。
    .sell-btn
      出品する
    .sell-btn_back
      もどる
  .sell-footer
  プライバシーポリシー メルカリ利用規約 特定商取引に関する表記