= render "partial/sell_bay_header"
= form_for(@product, url: {controller:'/sellers', action:'create',method:'POST' }) do |f|
  .sell_title
    商品の情報を入力
  .sell-image
    .img-head
      .img-head_bold
        出品画像
      .img-head_icon
        必須
    .image-text
      最大10枚までアップロードできます
    .drop-zone
      %label.sell-box__img--input
        = f.fields_for :productsimages do |image|
          = image.file_field :image, multiple: true, name: 'product_images[image][]', id: "upload-image"
  .sell-content
    .img-head
      .img-head_bold
        商品名
      .img-head_icon
        必須
    .sell_new
      = f.text_field :name,placeholder: "商品名（必須40文字まで）",class:"sell_name"
      .img-head
        .img-head_bold
          商品
        .img-head_icon
          必須
      = f.text_area :explanation,placeholder: "商品の説明（必須1,000文字まで）",class:"sell_txet"
  .sell-content
    .sell_box
      .sell-sub_head
        商品の詳細
      .sell-form_box
        .img-head
          .img-head_bold
            カテゴリー
          .img-head_icon
            必須
        = f.collection_select :category_id,Category.all, :id, :name, prompt:"--"
        .img-head
          .img-head_bold
            ブランド
          .img-head_icon
            必須
        = f.collection_select :brand_id,Brand.all, :id, :brand_name, prompt:"--"
        .img-head
          .img-head_bold
            商品の状態
          .img-head_icon
            必須
        = f.select :state, [["新品", 1],["中古", 2]],prompt:"--"
        .img-head
          .img-head_bold
            サイズ
          .img-head_icon
            必須
        = f.collection_select :size_id,Size.all, :id, :size_name, prompt:"--"
  .sell-content
    .sell_box
      .sell-sub_head
        配送について
      .sell-form_box
        .img-head
          .img-head_bold
            配送料の負担
          .img-head_icon
            必須
        = f.select :deliver_how, [["送料込み", 1],["着払い", 2]],prompt:"--"
        .img-head
          .img-head_bold
            配送元の地域
          .img-head_icon
            必須
        = f.collection_select :addresses_id,Prefecture.all, :id, :name, prompt:"--"
        .img-head
          .img-head_bold
            配送までの日数
          .img-head_icon
            必須
        = f.select :deliverday, [["１〜４", 1],["４〜１０", 2]],prompt:"--"
  .sell-content
    .sell_box
      .sell-sub_head
        販売価格(300〜9,999,999)
      .sell-form_box
        .img-head
          .price_new
            .sell-new_icon
              ¥
            = f.text_field :price,placeholder: "価格",class:"sell_price"
        .sell-margin
          .sell-margin_left
            販売手数料 (10%)
          .sell-margin_right
        .sell-margin_bold
          .sell-margin_left
            販売利益
          .sell-margin_right2
            = f.number_field :price, style: "display: none", id: "price"
  .sell-content
    .sell-btn_text
      %li 禁止されている出品、行為を必ずご確認ください。
      %li またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
      %li また、出品をもちまして加盟店規約に同意したことになります。
    = f.submit "出品する",class:"sell-btn"
    = link_to root_path do
      .sell-btn_back
        もどる
  .sell-footer
    プライバシーポリシー メルカリ利用規約 特定商取引に関する表記