.banner
  .banner_box
    .banner__banner_left
      .banner__banner_left__moji1
        %li スマホでかんたんフリマアプリ
      .banner__banner_left__moji2
        %li 今すぐ無料ダウンロード!
      .banner__banner_left__link_box
        .banner__banner_left__link_box--photo
          = image_tag "/ロゴ.png"
            
        .banner__banner_left__link_box--link1
          = link_to "#" do
            = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"   
        .banner__banner_left__link_box--link2
          = link_to "#" do
            = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"
    .banner__baner_light
      = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png",size: "300x260"
