= render "partial/header"

.top_bar
  - breadcrumb :confirmation
  = breadcrumbs separator: " &rsaquo; ", class: "breadcrumbs-list"

.main_body
  = render "/mypages/partial/sidebar"
  .main_body__log
    .main_body__log__ber
      .main_body__log__ber__out
        ログアウト

= render "partial/banner"
= render "partial/footer"