.wrapper
  = render "partial/header"
  = render "mypages/partial/topbar"

.main_body
  = render "/mypages/partial/sidebar"
  .id-main
    .id-main__1
      %h1 本人情報の登録
    .id-main__2
      %p お客さまの本人情報をご登録ください。
      %p 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
    .id-main__3
      %p 本人確認書類のアップロードについて(→アイコン)
    .id-main__4
      %ul
        %li
        %li
        %li
    .id-main__5
      -# ==== フォーム ====
      %p 郵便番号
      %input
      %p 都道府県
      %select
      %p 市区町村
      %input
      %p 番地
      %input
      %p 建物名
      %input
    .id-main__6
      登録する
    .id-main__7
      本人情報の登録について


.wrapper
  = render "partial/banner"
  = render "partial/footer"
