= render "partial/header"
.top_bar
  - breadcrumb :identification
  = breadcrumbs separator: " &rsaquo; "

.main_body
  .id-side
    = render "/mypages/partial/sidebar"
  .id-main
    .id-main__top
      %h2 本人情報の確認
    .id-main__body

      .id-main__body__3
        .id-main__body__3__title
          %p お名前
        .id-main__body__3__variable
          = @address.family_name_knj
          = @address.first_name_knj

        .id-main__body__3__title
          %p お名前カナ
        .id-main__body__3__variable
          = @address.family_name_ktkn
          = @address.first_name_ktkn

        .id-main__body__3__title
          %p 生年月日
        .id-main__body__3__variable
          %p 1984/12/07

        .id-main__body__3__title
          %p 郵便番号
        .id-main__body__3__variable
          = @address.postnum

        .id-main__body__3__title
          %p 都道府県
        .id-main__body__3__variable
          = Prefecture.find(@address.prefecture).name

        .id-main__body__3__title
          %p 市区町村
        .id-main__body__3__variable
          = @address.city

        .id-main__body__3__title
          %p 番地
        .id-main__body__3__variable
          = @address.street_num

        .id-main__body__3__title
          %p 建物名
        .id-main__body__3__variable
          = @address.building

= render "partial/banner"
= render "partial/footer"
