-# クレカ登録
.body
  .header
    .header__logo
      = link_to image_tag(src="sns_top.svg" ), root_path
    %nav.progress
      %ul.progress-bar
        %li.step1#active#done
          会員情報
          .progress-status
          .progress-status_bar
        %li.step2#active#done
          電話番号認証
          .progress-status
          .progress-status_bar
        %li.step3#active#done
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.step4#active
          支払い方法
          .progress-status
          .progress-status_bar
        %li.step5
          完了
          .progress-status
          .progress-status_bar

  = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
    .signup_4
      .signup-title_4
        支払い方法
      .signup__box_4
        .signup__box-input_4
          .field_4
            .field-info__number_4
              %label{for: "card_id" } カード番号
              %span.form-require 必須
              %br
            .field-input_4
              = text_field_tag "number", "", class: "input-default", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
              .footer-credits__link_4
                = image_tag "visa.svg", size: "49x20"
                .footer-credits__link_4_1
                = image_tag "master-card.svg", size: "34x20"
                .footer-credits__link_4_2
                = image_tag "saison-card.svg", size: "30x20"
                .footer-credits__link_4_3
                = image_tag "jcb.svg", size: "32x20"
                .footer-credits__link_4_4
                = image_tag "american_express.svg", size: "21x20"
                .footer-credits__link_4_5
                = image_tag "dinersclub.svg", size: "32x20"
                .footer-credits__link_4_6
                = image_tag "discover.svg", size: "32x20"
          .field_4
            .field-info__deadline_4
              %label{for: "deadline"} "有効期限"
              %span.form-require 必須
              %br
            .field-input_4_1
              %select#exp_month{name: "exp_month", type: "text"}
                %option{value: ""} --
                %option{value: "1"}01
                %option{value: "2"}02
                %option{value: "3"}03
                %option{value: "4"}04
                %option{value: "5"}05
                %option{value: "6"}06
                %option{value: "7"}07
                %option{value: "8"}08
                %option{value: "9"}09
                %option{value: "10"}10
                %option{value: "11"}11
                %option{value: "12"}12
              .field-input_4_2
              %span 月
              .field-input_4_3
              %select#exp_year{name: "exp_year", type: "text"}
                %option{value: ""} --
                %option{value: "2019"}19
                %option{value: "2020"}20
                %option{value: "2021"}21
                %option{value: "2022"}22
                %option{value: "2023"}23
                %option{value: "2024"}24
                %option{value: "2025"}25
                %option{value: "2026"}26
                %option{value: "2027"}27
                %option{value: "2028"}28
                %option{value: "2029"}29
              .field-input_4_4
              %span 年
              -# = f.select :name, [["01"],["02"],["03"],["04"],["05"],["06"],["07"],["08"],["09"],["10"],["11"],["12"]] , class: "birthdate_month"
              -# .field-input_4_2
              -# 月
              -# .field-input_4_3
              -# = f.select :deadline, [["19"],["20"],["21"],["22"],["23"],["24"],["25"],["26"],["27"],["28"],["29"],["30"]] , class: "birthdate_month"
              -# .field-input_4_4
              -# 年
          .field_4
            .field-info__security_num_4
              .field-input_4
              %label{for: "security_num"} セキュリティコード
              %span.form-require 必須
              = text_field_tag "cvc", "", class: "input-default", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
            .field-input_mozi_4
              %ul.gnav
                %li
                  = link_to "#" do
                    カードの裏面の番号とは？
                    %ul
                      %li
                        .iii
                        = link_to "#" do
                          カードの裏面をご参照ください。
                          = image_tag "seq-card.png", size: "242x111" 
            .field_4
            .next__btn_4
              #card_token
              = submit_tag "次へ進む", id: "token_submit", class:"next-btn_4"
  .footer-user_4
    %ul
      %li= link_to "プライバシーポリシー", '#'
      %li= link_to "メルカリ利用規約", '#'
      %li= link_to "特定商取引に関する表記", '#'
    .footer-user__link
      = link_to image_tag(src= "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464", class: "mercari-graylogo", height: 80, width: 60), "/"
      %p © Mercari, Inc.