= render "partial/sell_bay_header"
.buy_header
  購入内容の確認
.buy-product
  .buy-content
    .buy-image
      = image_tag "/test.jpg"
    .buy-data
      .buy-data_name
        フレアアンクルジーンズ
      .buy-price
        .buy-price_1
          ¥1,700
        .buy-price_2
          （税込）送料込み
.buy-pra
  .buy-form
    .buy_a
      .buy-form_text
        支払い金額
      .buy-form_price
        ¥1,700
    .buy-label
      ポイントを使用 (所持ポイント: P0)
    .buy-how
      支払い方法
    .buy-info
      .buy-info_a
        .buy-info_text
          配送先
        .buy-info_link
          変更する
      .buy-user_info
        %li #{@address.postnum}
        %li #{@address. prefecture}
        %li #{@address.city}
        
    .buy-red_text
      この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .buy-btn
      = link_to "購入する",'/',class: "buy_btn2"
.sell-footer
  プライバシーポリシー メルカリ利用規約 特定商取引に関する表記
= render "partial/banner"
= render "partial/footer"
= render "partial/sell-btn"