.wrapper
  = render "partial/header"
  .slide_image
    = image_tag "/slide_1.jpeg",class: "image1"
    = image_tag "/slide_2.jpeg",class: "image1"
  .favorite_categry
    人気のカテゴリ
  .bay_btn
    出品
    %i.fa.fa-camera
  .product_box
    .categry_name
      レディース新着アイテム
      .show_link
        もっと見る ＞
    .product_show
      - @productsimage.last(10).each do |p|
        .product_one
          .product_img
            = image_tag p.image.url
            .price_one
              //=.price
          .one_name_box
            .one_name   
  = render "partial/banner"
  = render "partial/footer"
  = render "partial/sell-btn"
  = link_to "#","/products/show"
  = link_to "##","/mypages/index"