.body
  .main_body
    .left_box
      .page_box
        .title
          .moji
            マイページ
          = fa_icon "chevron-right"
        .details
          .moji2
            お知らせ
          = fa_icon "chevron-right"
        .details
          .moji2  
            やることリスト
          = fa_icon "chevron-right"
        .details
          .moji2
            いいね!一覧
          = fa_icon "chevron-right"
        .details
          .moji2  
            出品する
          = fa_icon "chevron-right"
        .details
          .moji2
            出品した商品-出品中
          = fa_icon "chevron-right"
        .details
          .moji2  
            出品した商品-取引中
          = fa_icon "chevron-right"
        .details
          .moji2  
            出品した商品-売却済み
          = fa_icon "chevron-right"
        .details
          .moji2  
            購入した商品-取引中
          = fa_icon "chevron-right"
        .details
          .moji2  
            購入した商品-過去の取引
          = fa_icon "chevron-right"
        .details
          .moji2  
            ニュース一覧
          = fa_icon "chevron-right"
        .details
          .moji2  
            評価一覧
          = fa_icon "chevron-right"
        .details
          .moji2  
            ガイド
          = fa_icon "chevron-right"
        .details
          .moji2  
            お問い合わせ
          = fa_icon "chevron-right"
        .tyoku
          メルペイ
        .details
          .moji2
            売上・振込申請
          = fa_icon "chevron-right"
        .details
          .moji2
            ポイント
          = fa_icon "chevron-right"
        .tyoku
          設定
        .details
          .moji2
            プロフィール
          = fa_icon "chevron-right"
        .details
          .moji2
            発送元・お届け先住所変更
          = fa_icon "chevron-right"
        .details
          .moji2
            支払い方法
          = fa_icon "chevron-right"
        .details
          .moji2  
            メール/パスワード
          = fa_icon "chevron-right"
        .details
          .moji2  
            本人情報
          = fa_icon "chevron-right"
        .details
          .moji2  
            電話番号の確認
          = fa_icon "chevron-right"
        .details
          .moji2  
            ログアウト
          = fa_icon "chevron-right"

    .right_box
      .right_box__head
        = link_to "#" do
          = image_tag "/my_icon.png"
        .right_box__head__user_name
          ユーザー
        .right_box__head__history_box
          .right_box__head__history_box__evaluation
            評価
          .right_box__head__history_box__number
            0
          .right_box__head__history_box__exhibit
            出品数
          .right_box__head__history_box__number
            0
      .right_box__bar_box
        .right_box__bar_box__notice
          お知らせ
        .right_box__bar_box__list
          やることリスト
      .right_box__message_item_link
        .right_box__message_item_link__icon
          = link_to "#" do
            = image_tag "/ロゴ.png"
          .right_box__message_item_link__icon__box
            .right_box__message_item_link__icon__box__text
              《新規登録者限定》”最大1,000円分のポイントがもらえる”出品キャンペーン開催中！
            .right_box__message_item_link__icon__box__time_box
              .right_box__message_item_link__icon__box__time_box__time_icon
                %i.fa.fa-clock-o
              .right_box__message_item_link__icon__box__time_box__time
                7時間前