.left_box
  .page_box
    .title
      .moji
        = link_to "マイページ",mypages_index_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "お知らせ",mypages_index_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "やることリスト",mypages_notification_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "いいね!一覧",mypages_index_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "出品する",new_seller_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "出品した商品-出品中",mypages_listing_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "出品した商品-取引中",mypages_progress_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "出品した商品-売却済み",mypages_completed_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "購入した商品-取引中",mypages_buying_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "購入した商品-過去の取引",mypages_pastransaction_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "ニュース一覧",mypages_news_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "評価一覧",mypages_evaluates_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "ガイド",mypages_support_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "お問い合わせ",mypages_index_path
      = fa_icon "chevron-right"
    .tyoku
      メルペイ
    .details
      .moji2
        = link_to "売上・振込申請",mypages_index_path
      = fa_icon "chevron-right"
    .details
      .moji2
        = link_to "ポイント",mypages_points_path
      = fa_icon "chevron-right"
    .tyoku
      設定
      .details
        .moji2
          = link_to "プロフィール",mypages_profile_path
        = fa_icon "chevron-right"
      .details
        .moji2
          = link_to "発送元・お届け先住所変更","/mypages/edit"
        = fa_icon "chevron-right"
      .details
        .moji2
          = link_to "支払い方法",mypages_index_path
        = fa_icon "chevron-right"
      .details
        .moji2
          = link_to "メール/パスワード",mypages_index_path
        = fa_icon "chevron-right"
      .details
        .moji2
          = link_to "本人情報",mypages_identification_path
        = fa_icon "chevron-right"
      .details
        .moji2
          = link_to "電話番号の確認",mypages_confirmation_path
        = fa_icon "chevron-right"
      .details
        .moji2
          = link_to "ログアウト",mypages_destroy_path
        = fa_icon "chevron-right"